*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-container,
.nav-bar{
    background-color: #1F2937;
    font-size: 18px;
}

.button-one,
.hero-logo-text,
.hero-main-text{
    color: #f9faf8;
}

.hero-logo-text{
    font-size: 24px;
}

.hero-secondary-text,
.nav-bar a{
    color: #e5e7eb;
}

.hero-secondary-text{
    font-size: 18px ;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1em 144px;
}

.nav-bar .hero-logo-text{
    font-weight: 800;
    font-size: 24px;
}

.nav-bar ul{
    display: flex;
    list-style: none;
}

.nav-bar li{
    margin-left: 1.2em;
}

.nav-bar a{
    text-decoration: none;
    font-size: 16px;
}

.header {
    display: flex;
    padding: 5em 8em;
    flex: 1 1 auto;
}

.hero,
.hero-image{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero{
    padding: 0 2em 0 0;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 900;
}

.hero-image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #727272;
    color: #fff;
}

.button-one{
    background-color: #3882f6;
    margin-right: auto;
    padding: .5em 2em;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    margin-top: .5em;
}

.information-section{
    padding: 22px 50px 100px 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.information-section h2{
    font-size: 36px;
    color: #1F2937;
}

.informations-cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 2em;
    flex-wrap: wrap;
}

.card-information{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

.card-information p {
    margin-top: 1em;
}

.img-information{
    width: 200px;
    height: 200px;
    border: 3px solid #3882f6;
    border-radius: 25px;
}